a {
  color:inherit;
  text-decoration: none;
}

.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
		color: white;
}

.App-content {
		font-size: large;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    aligh-items: center;
 }


@media (prefers-reduced-motion: no-preference) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: center;
    justify-content: center;
  }
}
