.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.App-content {
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    aligh-items: center;
    padding: 40px;
 }


@media (prefers-reduced-motion: no-preference) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: flex-end;
    justify-content: center;
  }
}
